.social-links {
    display: flex;
    align-items: center;
    gap: 0.73rem;
    margin-top: 1.5rem;
    background-color: #000000;
    margin-inline: 20%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-top: -3rem;
  }

.social-links path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
}

.social-links a:hover svg path {
    fill: var(--gray-900);
}